.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    color: var(--text-primary);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
}